cluster_name       = "simpleapp-floci"
region             = "us-east-1"
kubernetes_version = "1.33"
desired_size       = 1
min_size           = 1
max_size           = 2
create_kms_key     = false
create_primary_security_group_tags = false
enabled_log_types  = []
